@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 0.85rem;
}
label,
.css-ahj2mt-MuiTypography-root {
  font-size: 0.85rem !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 0.85rem;
  margin: 0;
}
.css-jpln7h-MuiTabs-scroller {
  padding: 0;
}

.css-1q04gal-MuiDateCalendar-root {
  width: fit-content;
}
.css-1ujnqem-MuiTabs-root {
  min-height: 2px;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  padding: 3px 10px;
  font-size: 0.8rem;
}
